#thumbnail1,#thumbnail2,#thumbnail3,#thumbnail4{
    display: none;
}
.upload_block{
    margin-bottom: 40px;
    text-align: center;
}
#post-btn{
    background: #d23f31;
    color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    border: none;
    border-radius: 0px;
    padding: 20px 100px;    
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700; 
    font-size: 24px;   
}
.main-header{
    background:#f6f6f6;
}
nav ul{
    margin-bottom: 0px;
}
nav ul li a{
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: none;
    color: #d23f31;
}
a.active{
    color: #d23f31;
}
.main-header>h1{
    margin: 0;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 500;
}
.thumbnailBlock{
    display: none;
}

.upload {
    margin-top: 40px;
    margin-bottom: 40px;
}
.upload input{
    margin: 0 auto;
}
#imagePreview{
    margin:40px auto; 
    text-align: center;
}
.setThumbnail {
    background : #eee;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
} 
.setThumbnail button {
    margin: 40px auto;
    display: block;

}

 p span{
    color: #d23f31;
    font-weight: 700;
    font-size: 17px;
}
.setThumbnail h3{
    text-transform: capitalize;
}
.modal-content{
  text-align: center;
}
h4.modal-title{
      font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.modal-body p{
  margin-top: 40px;
  font-size: 25px;
}
a.modal_ok{
        display: inline-block;
    padding: 15px 50px;
    background: #d23f31;
    color: #fff;
    margin: 0 auto;
    margin-top: 60px;
    text-decoration: none!important;
  }